body{

    /* Margen predeterminado */
    margin: 0;
    /* Margen pa´ dentro */
    padding: 0;
    /* Tamaño de texto */
    font-size: 13px;
    /* Fuente del texto */
    font-family: Arial, Helvetica, sans-serif;
}
/*************************************************/
/********************************************/
/***********************************/
/* Navegación */

a {
    text-decoration: none;
    cursor: pointer;
}

header{
    /* width - ancho /// height-alto*/
    background-color: white;
    width: 100%;
    height: 60px;
}

header nav{
    background-color: white;
    /* Cómo se puede mover el elemento */
    display:flex;
    justify-content:flex-end;
}

header nav .nav-right-section{
    /* Eliminar viñetas*/
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Altura automática*/
    height: auto;
}

nav .nav-right-section a{
    /*Color de texto*/
    color:rgb(21, 21, 21);
    /*línea debajo de texto */
    text-decoration: none;
    /*Margen derecho */
    margin-right: 25px;
}

nav .nav-right-section .menu-icon{ 
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 26px;
    height: 26px;
    /*Contiene a la imagen*/
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

nav .nav-right-section img{
    /*Magin left - margen a la izquierda SOLAMENTE*/
    margin-left: 10px;
    /* Redondear */
    border-radius: 50px;
    /* width - anchura*/
    width: 40px;
    height: 40px;
}

/*************************************************/
/********************************************/
/***********************************/
/* Main */

main{
    text-align: center;
    margin-top: 150px;
}

/*sección logo*/
main .main-logo{
    width: 530px;
    background-color:#5cf0b7;
    margin: 0 auto;
    margin-bottom: 35px;
}

/*logo Google*/
main .main-logo img{
    height: 120px;
    width: 330px;
}

/*seccion input*/
main .main-input{
    /* widht - anchura */
    width: 530px;
    /* margenes y centrado */
    margin: 0 auto;
    /* separar input de botones */
    margin-bottom: 35px;
}

/*cajita gris redondeada buscador*/
main .main-input-container{
    /*ancho de línea, estilo y color*/
    border: 1px solid #dfe1e5;
    /* bordes redondeados */
    border-radius: 100px;
    width: 525px;
    /* mis componentes sean flexibles y se muevan */
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    height: 40px;
    width: 450px;
    /*quitar borde negro*/
    border: none;
    /*quitar borde azul al hacer click */
    outline: none;
}

main .main-input .search-icon{
    /* Poner una imagen */
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /* Centrar la imagen */
    background-position: center;
    /* Tamaño del ícono */
    width: 20px;
    height: 15px;
    /*icono contenedor*/ 
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
}

main .main-input .micro-icon{
    /* poner una imagen */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    /* centrar la imagen */
    background-position: center;
    /* tamaño del icono */
    width: 17px;
    height: 17px;
    background-size: contain;
    padding-left: 5%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 5%;
}

/* Botones */
main .main-buttons{
    width: 500px;
    /*vertical / horizontal */ 
    margin: 0 auto;
}

main .main-buttons div{
    /*alinear elemnetos en la misma linea */
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 36px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    border-radius: 8px;
    margin-right: 15px;
    padding: 0 15px;
    
}
/*nos permite agregarle diseño al poner cursor sobre elemento*/
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-buttons button:hover{
    color: #202124;
/* ancho de linea  - estilo de lÍnea - color */
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba (0,0,0,.1);
}

footer{
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #dfdee0;
    border-top: 1px solid #e4e4e4;
}

/*México*/
footer .mex{
    margin: 8px;
    padding-left: 3%;
    border-bottom: 1 px solid #dfe0e2;
    font-size: 15px;
    color: #5f6368;
   
  
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
    font-size: 15px;
}

.footer-left {
    justify-self: left;
    
}

.footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 30px;
    color: #5f6368;
   
}


